<ul class="top_bar">
	<li><a class="active" href="http://korpusomat.nlp.ipipan.waw.pl/">Korpusomat</a></li>
	<li><a href="#null">O projekcie</a></li>
	<li><a href="#null">Kontakt</a></li>
</ul>

<h1 class="center" style="padding-top: 30px;">
    Moduł wyświetlania dla Korpusomatu
</h1>
<div class="center">
    <div id="text_area" class="textarea" contenteditable=false></div>
    <br />
    <button (click)="loadFile('systemfile')">Wczytaj plik</button>
    <input id="file-input" type="file" name="name" style="display: none;" />
</div>
<router-outlet></router-outlet>
