body {margin:0;}
 
button.link { background:none;border:none; } 
   
.top_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.top_bar li {
    float: left;
}

.top_bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.top_bar li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.textarea { 
    font-family: Consolas, monospace;
    display: inline-block;
    text-align: left;
    white-space: pre;
    word-wrap: normal;
    padding: 0.1em 0.3em;
    border: solid thin;
    overflow: auto;
    width: 60%;
    height: 400px;
}
.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}